body {
background: radial-gradient(circle, rgba(64,114,235,1) 0%, rgba(0,254,255,1) 70%);
       background-repeat: no-repeat;
}
.card {
        background: #fbfbfb;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
        height: 490px;
        margin: 6rem auto 8.3rem auto;
        width: 329px;
}
.card a{
	font-family: "Raleway Thin", sans-serif;
	}
#card-isi {
      padding: 12px 44px;
}

#card-judul {
      font-family: "Raleway Thin", sans-serif;
      padding-bottom: 23px;
      padding-top: 13px;
      text-align: center;
}

.underline-judul {
      background: radial-gradient(circle, rgba(64,114,235,1) 0%, rgba(0,254,255,1) 70%);
      height: 2px;
      margin: -1.1rem auto 0 auto;
      width: 89px;
}
a {
    text-decoration: none;
}
label {
    font-family: "Raleway", sans-serif;
    font-size: 11pt;
}
#forgot-pass {
    color: #17202A;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 3px;
    text-align: right;
}
.form {
    align-items: left;
    display: flex;
    flex-direction: column;
}
.form-border {
    background: radial-gradient(circle, rgba(64,114,235,1) 0%, rgba(0,254,255,1) 70%);
    height: 1px;
    width: 100%;
}
.form-content {
    background: #fbfbfb;
    border: none;
    outline: none;
    padding-top: 14px;
}
#signup {
    color: #17202A;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 16px;
    text-align: center;
}
#submit-btn {
    background: radial-gradient(circle, rgba(64,114,235,1) 0%, rgba(0,254,255,1) 70%);
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #17202A;
    cursor: pointer;
    color: #17202A;
    font-family: "Raleway SemiBold", sans-serif;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 50px;
    transition: 0.25s;
    width: 153px;
}
#submit-btn:hover {
    box-shadow: 0px 1px 18px #17202A;
}